/*
	CECI EST LE CSS PRINCIPAL
	UN SECOND CSS EST DISPONIBLE MAIS IL EST MOINS COMPLET
																*/

/* STYLE GLOBALE A LA PAGE */
*
{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	outline: none; /* cela permet de supprimer les bordures par défaut des navigateurs lors d'un focus */
}

/* DECLARATION DES POLICES */
@font-face{
    font-family: 'Montserrat-Light';
    src: url("../fonts/Montserrat-Light.otf");
}
@font-face{
    font-family: 'Montserrat-Medium';
    src: url("../fonts/Montserrat-Medium.otf");
}

body
{
	font-family: 'Montserrat-Light', sans-serif;
	font-size: 24px;
	text-align: center;
	color: black;
	line-height: 37px;
}

/* FORME DES TITRES ET DU SPAN */
h1, h2, h3, span
{
	font-family: 'Montserrat-Medium';
}
h1
{
	font-size: 45px;
	text-transform: uppercase;
}
h2
{
	font-size: 40px;
}
h3
{
	font-size: 35px;
}

p
{
	text-align: justify;
}

a, a:hover, a:focus /* uniformisation des couleurs des liens */
{
	color: black;
}

a:hover
{
	transition: 0.2s; /* effet plus fluide */
}

hr /* design plus propre pour le hr */
{
	width: 100px;
	height: 7px;
	background-color: #444B54;
	border: none;
	margin: 14px auto 26px auto;
}


/* NAVBAR */
nav
{
	line-height: 150px;
	text-align: left;
	overflow: auto;
}
nav ul
{
	text-align: center;
}
nav ul li
{
	float: left;
	width: 25%;
}
nav a
{
	color: #E74C3C;
}
nav a:hover
{
	color: #CF000F;
	transition: 0.5s;
}
#selected /* on change la couleur de la page sur laquelle on se trouve */
{
	color: black;
}


/* MISE EN FORME DU CONTENU PRESENT SOUS LA NAVBAR */
.headerContenu
{
	width: 100%;
	height: 600px;
	line-height: 600px; /* cela permet de centrer verticalement le titre présent dans le bloc */
	color: white;
}
#header-accueil
{
	background: url("../img/japanese_flag.jpg") fixed no-repeat center;
	background-size: cover;
}
#header-culture
{
	background: url("../img/fuji.jpg") fixed no-repeat center;
	background-size: cover;
}
#header-technologie
{
	background: url("../img/robot.jpg") fixed no-repeat top;
	background-size: cover;
}


/* MISE EN PAGE GLOBALE DES ARTICLES */
article
{
	margin: 150px auto 150px auto;
	width: 800px;
	overflow: auto; /* cela prend ainsi en compte la taille des .objectInText */
}
article li
{
	text-align: left;
}
article li:before /* un tiret avant chaque élément de la liste */
{
	content: ' - ';
}
article a
{
	font-family: "Montserrat-Medium";
}
article a:focus
{
	color: black;
}
#inscription /* article contenant le formulaire */
{
	width: 100%;
	background-color: #c0392b;
	color: white;
	margin: 0; /* on remplace le margin par du padding pour avoir la couleur de fond */
	padding: 150px 0px 150px 0px;
}
#inscription hr
{
	background-color: white;
}
.objectInText /* les objets flottants à côté du texte */
{
	float: right;
	border: 1px solid grey;
	border-radius: 2px;
	margin: 10px 0px 10px 10px; /* des marges tout autour de l'élément, sauf à droite */
	width: 398px; /* avec les bordures la taille sera de 400px */
	height: 398px;
}
video
{
	width: 80%;
}
table
{
	width: 100%;
}
td
{
	width: 10%;
	border: 1px solid black;
}
.backgroundImage /* les images de fond */
{
	width: 100%;
	height: 600px;
}
#backgroundImageIndexEconomy
{
	background: url("../img/yens.jpg") fixed no-repeat center;
	background-size: cover;
}
#backgroundImageCultureEcriture
{
	background: url("../img/ecriture.jpg") fixed no-repeat bottom;
	background-size: cover;
}
#backgroundImageCultureHistoire
{
	background: url("../img/arcs.jpg") fixed no-repeat bottom;
	background-size: cover;
}
#backgroundImageCultureNourriture
{
	background: url("../img/sushi.jpg") fixed no-repeat bottom;
	background-size: cover;
}
#backgroundImageCulturePaysage
{
	background: url("../img/paysage2.jpg") fixed no-repeat bottom;
}
#backgroundImageTechnologieTrain
{
	background: url("../img/train.jpg") fixed no-repeat center;
}


/* MISE EN FORME DU FORMULAIRE */
form
{
	display: inline-block;
	width: 600px;
    background-color: white;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    overflow: auto;
    color: grey;
    font-size: 20px;
}
form p
{
	text-align: center;
}
input, option
{
    font-family: 'Montserrat-Light';
    font-size: 15px;
}
input
{
    width: 500px;
    height: 35px;
    border: none;
    margin-top: 8px;
    margin-bottom: 8px;
    color: grey;
}
#confirmation
{
	width: 14px;
	height: 14px;
}
.boutonForm
{
	width: 250px;
	height: 40px;
	background-color: #c0392b;
	color: white;
	border-radius: 5px;
}
.boutonForm:hover /* on inverse les couleurs */
{
	background-color: white;
	color: #c0392b;
	border: 3px #c0392b solid;
}


/* DESIGN DU BAS DE PAGE*/
footer
{
	padding-top: 30px;
	background-color: #34495e;
	color: white;
	line-height: 35px;
}
footer h3
{
	text-transform: uppercase;
}
footer p
{
	text-align: center;
}
footer a, a:focus
{
	color: white;
}
footer a:hover
{
	color: #F22613;
}
footer hr
{
	background-color: white;
	width: 80px;
	height: 6px;
}
.footerDiv
{
	padding-bottom: 30px;
}
.footerDiv:last-of-type /* réduction de la place prise par la partie "droits" du footer */
{
	font-size: 20px;
	line-height: 25px;
}
select
{
    width: 300px;
    height: 28px;
    border: none;
    border-radius: 3px;
    font-family: 'Montserrat-Light'; /* nécessaire d'écrire à nouveau le changement de police dans un select malgré la déclaration dans le body */
}


/* STYLE PROPRE AUX TERMINAUX MOBILES */
@media screen and (max-device-width: 480px)
{
	nav /* on agrandis la police et on transforme la navbar en deux "étages" */
	{
		line-height: 100px;
		font-size: 40px;
	}

	nav ul li
	{
		width: 50%;
	}

	article
	{
		width: 100%;
		overflow: hidden; /* sans cela, des barres de défilement apparaissent */
	}

	video
	{
		width: 100%;
	}

	.headerContenu, .backgroundImage
	{
		display: none;
	}
}


/* STYLES EN FONCTION DE LA TAILLE DE L'ECRAN */
@media all and (max-width: 800px)
{
	nav
	{
		position: relative;
	}

	nav ul li
	{
		width: 50%;
	}

	article
	{
		width: 100%;
		min-width: 400px;
	}

	video
	{
		width: 100%;
	}
}
/* si l'écran est si petit, on n'affiche plus les images et les iframes */
@media all and (max-width: 400px) 
{
	nav ul li
	{
		width: 100%;
	}

	.headerContenu, .backgroundImage, .objectInText, video
	{
		display: none;
	}
}