/*
	CECI EST LE CSS SECONDAIRE
	MOINS COMPLET QUE LE PRINCIPAL !
										*/


/* STYLE GLOBALE A LA PAGE */
*
{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	outline: none; /* cela permet de supprimer les bordures par défaut des navigateurs lors d'un focus */
}

/* DECLARATION DES POLICES */
@font-face{
    font-family: 'Montserrat-Light';
    src: url("../fonts/Montserrat-Light.otf");
}
@font-face{
    font-family: 'Montserrat-Medium';
    src: url("../fonts/Montserrat-Medium.otf");
}

body
{
	font-family: 'Montserrat-Light', sans-serif;
	font-size: 30px;
	text-align: center;
	color: #34495e;
	line-height: 40px;
}

/* FORME DES TITRES ET DU SPAN */
h1, h2, h3, span
{
	font-family: 'Montserrat-Medium';
}
h1
{
	font-size: 50px;
	line-height: 50px;
}
h2
{
	font-size: 45px;
	line-height: 45px;
}
h3
{
	font-size: 40px;
}

p
{
	text-align: justify;
}

span
{
	font-family: 'Montserrat-Medium';
}

a, a:hover, a:focus
{
	color: #354b60;
}

hr
{
	width: 60px;
	height: 5px;
	margin: 12px auto 12px auto;
	background-color: #34495e;
	border: none;
}

/* NAVBAR */
nav
{
	top: 0px;
	line-height: 100px;
	overflow: auto;
	background-color: #4aa3df;
	position: fixed;
	width: 100%;
}
nav ul
{
	text-align: center;
}
nav ul li
{
	float: left;
	width: 25%;
}
nav a
{
	color: white;
}
#selected
{
	color: #354b60;
}


.headerContenu
{
	display: none;
}


/* MISE EN PAGE GLOBALE DES ARTICLES */
section
{
	padding-top: 100px; /* cela permet d'éviter des problèmes avec la navbar sortie du flux */
}
article
{
	margin: 100px auto 100px auto;
	width: 800px;
	overflow: auto;
}
article li
{
	text-align: left;
}
article li:before
{
	content: ' - ';
}
article a
{
	font-family: "Montserrat-Medium";
}
#inscription /* article contenant le formulaire */
{
	width: 100%;
	background-color: #2C3E50;
	color: white;
	margin: 0; /* on remplace le margin par du padding pour avoir la couleur de fond */
	padding: 150px 0px 150px 0px;
	text-align: center;
}
#inscription h2
{
	text-align: center;
}
#inscription hr
{
	background-color: white;
}
.objectInText /* les objets flottants à côté du texte */
{
	float: left;
	border: none;
	margin: 10px 10px 10px 0px; /* des marges tout autour de l'élément, sauf à droite */
	width: 400px; /* avec les bordures la taille sera de 400px */
	height: 400px;
}
video
{
	width: 80%;
}
td, th
{
	width: 10%;
	border: 1px solid black;
}


/* MISE EN FORME DU FORMULAIRE */
form
{
	display: inline-block;
	width: 600px;
    background-color: white;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    overflow: auto;
    color: grey;
    font-size: 20px;
}
form p
{
	text-align: center;
}
input, option
{
    font-family: 'Montserrat-Light';
    font-size: 15px;
}
input
{
    width: 500px;
    height: 35px;
    border: none;
    margin-top: 8px;
    margin-bottom: 8px;
    color: grey;
}
#confirmation
{
	width: 14px;
	height: 14px;
}
.boutonForm
{
	width: 250px;
	height: 40px;
	background-color: #2C3E50;
	color: white;
	border-radius: 5px;
}
.boutonForm:hover /* on inverse les couleurs */
{
	background-color: white;
	color: #2C3E50;
	border: 3px #2C3E50 solid;
}


/* DESIGN DU BAS DE PAGE*/
footer
{
	padding-top: 30px;
	background-color: #4aa3df;
	color: white;
	line-height: 35px;
}
footer h3
{
	text-transform: uppercase;
}
footer p
{
	text-align: center;
}
footer hr
{
	background-color: white;
}
footer a, a:focus
{
	color: white;
}
footer a:hover
{
	color: #354b60;
}
.footerDiv
{
	padding-bottom: 30px;
}
.footerDiv:last-of-type /* réduction de la place prise par la partie "droits" du footer */
{
	font-size: 20px;
	line-height: 25px;
}
select
{
    width: 300px;
    height: 28px;
    border: none;
    border-radius: 3px;
    font-family: 'Montserrat-Light'; /* nécessaire d'écrire à nouveau le changement de police dans un select malgré la déclaration dans le body */
}


/* STYLE PROPRE AUX TERMINAUX MOBILES */
@media screen and (max-device-width: 480px)
{
	nav
	{
		position: relative;
	}

	nav ul li
	{
		width: 50%;
	}

	section
	{
		padding-top: 0px;
	}

	article
	{
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
	}

	video
	{
		width: 100%;
	}
}


/* STYLES EN FONCTION DE LA TAILLE DE L'ECRAN */
@media all and (max-width: 800px)
{
	nav
	{
		position: relative;
	}

	nav ul li
	{
		width: 50%;
	}

	section
	{
		padding-top: 0px;
	}

	article
	{
		width: 100%;
		min-width: 400px;
	}

	video
	{
		width: 100%;
	}
}
/* si l'écran est si petit, on n'affiche plus les images et les iframes */
@media all and (max-width: 400px) 
{
	nav ul li
	{
		width: 100%;
	}

	.objectInText
	{
		display: none;
	}
}